.bussinessContainer{
    max-width: 300px;

    margin: 15px 40px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

img{
    width: 280px;
    height: 200px;
}

h5{
    margin: 5px;
    color: goldenrod;
    text-align: start;
}

.infoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.leftInfo{
    margin: 0;
    padding: 0;
    text-align: left;
}

.rightInfo{
    margin: 0;
    padding: 0;
    text-align: right;
}

p{
    font-size: 0.6em;
    color: black;
}

.category{
    color: goldenrod;
    font-weight: bold;
}

.rating{
    color: goldenrod;
    font-weight: bold;
}